.Panel {
	background-color: rgb(200,155,255);
	display: inline-block;
	width: 200px;
	min-height: 100px;
	padding: 1em;
	border-radius: 0.2em;
	margin: 0em 2em 0em 2em;
}

.title {
	color: black;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 0.4em;
}

.add {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
    float: right;
    margin-left: 5px;
}

.Agenda {
	margin: auto;
	background-color: rgb(200,255,255);
	display: inline-block;
	border-radius: 0.2em;
	min-height: 100px;
	max-width: 85%;
	text-align: left;
}

.Left {
	height: 2em;
	width: 2em;
	content: "\25C0";
}

.Right {
	height: 100%;
	width: 2em;
	content: "\25B6";
}

.Form {
	margin-top: 1em;
}

.Form input {
	border: none;
    border-bottom: 2px solid rgb(200,200,255);
    padding: 1em;
    font-family: "Arial Black";
    font-size: 9px;
}